@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
.white_text {
  border: 0;
  border-radius: .25rem;
  border-bottom: 1px solid #d16c34;
  font-size: 12px;
  transition: all 1s;
  background: transparent; }

.white_text:focus {
  box-shadow: 0 1px 0 0 #d16c34;
  border-bottom: 1px solid #d16c34;
  background: #fff; }

.navbar.bg-dark {
  background: #d16c34;
  background: linear-gradient(170deg, #d16c34 0%, #d16c34 68%, #d48255 68%, #d48255 100%); }

html, body, container {
  height: 100vh;
  /* background: #36D1DC;  
    background: -webkit-linear-gradient(to bottom, #5B86E5, #36D1DC); 
    background: linear-gradient(to bottom, #5B86E5, #36D1DC); */
  overflow: auto;
  background: #f8f9fa;
  background: -webkit-linear-gradient(to bottom, #f8f9fa, #f8f9fa);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #f8f9fa, #f8f9fa); }

.trans_button {
  background: transparent;
  outline: none;
  border: 0; }
  .trans_button:focus {
    box-shadow: none; }

.map_container {
  width: 100%;
  height: 3vh; }
  .map_container .iframe {
    width: 100%;
    height: 100%; }
